# =========================
# Node Modules
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build Outputs
# =========================
dist/
build/
.out/
.next/
coverage/

# React (Vite / CRA)
.vite/
*.local

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# NestJS
# =========================
dist/
tmp/
*.tsbuildinfo

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# Misc
# =========================
*.pem
*.key

# =========================
# Docker (if used)
# =========================
docker-compose.override.yml

# =========================
# Serverless
# =========================

.serverless

# # Ignore decrypted infra files
# infrastructure/**/*.yml

# Ignore script file
scripts/**/*.sh
